[push]
    default = simple

[credential]
    helper = cache --timeout=86400

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    syntax-theme = Solarized (light)
    navigate = true
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[includeIf "gitdir:~/dotfiles"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/repo/"]
    path = ~/.gitconfig-work
